.u-section-1 .u-sheet-1 {
  min-height: 469px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.6);
  width: 653px;
  height: 458px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -390px auto 0 396px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -8px auto 0 360px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -32px auto 60px 500px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 261px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -311px;
    margin-left: 327px;
    width: 174px;
  }

  .u-section-1 .u-text-2 {
    width: 116px;
    margin-top: 5px;
    margin-left: 297px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 461px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 293px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -343px;
    margin-left: 250px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 227px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 339px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 379px;
    margin-top: 280px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -309px;
    margin-left: 188px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -21px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 239px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 239px;
    margin-top: 350px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -239px;
    margin-left: 118px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -49px;
    margin-left: 107px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 128px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 460px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
  position: relative;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -75px auto 0 127px;
}

.u-section-2 .u-shape-1 {
  width: 160px;
  height: 64px;
  margin: 13px auto 0 127px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 101px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 72px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 72px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 208px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 208px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 128px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 128px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 964px;
}

.u-section-3 .u-image-1 {
  filter: brightness(0.6);
  width: 886px;
  height: 400px;
  margin: 32px auto 0 152px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: -233px 426px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 187px 313px 0 334px;
}

.u-section-3 .u-text-3 {
  margin: 24px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: -261px;
    margin-left: 54px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -613px;
    margin-right: 351px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 605px;
    margin-right: 213px;
    margin-left: 276px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -93px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 325px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -645px;
    margin-right: 269px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 733px;
    margin-right: 103px;
    margin-left: 211px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -189px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 244px;
    margin-top: -253px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -598px;
    margin-right: 202px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 955px;
    margin-right: 13px;
    margin-left: 158px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -445px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 154px;
    margin-top: -75px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -566px;
    margin-right: 127px;
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    margin-top: 1449px;
    margin-right: 0;
    margin-left: 99px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -944px;
    margin-bottom: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 441px;
}

.u-section-4 .u-form-1 {
  height: 338px;
  margin: 103px 83px 0 487px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: -261px 684px 60px 103px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-form-1 {
    width: 570px;
    margin-left: 370px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-right: 584px;
    margin-left: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-form-1 {
    margin-left: 150px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 367px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-right: 187px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-form-1 {
    width: 340px;
  }

  .u-section-4 .u-form-group-1 {
    width: 100%;
  }

  .u-section-4 .u-form-group-2 {
    width: 100%;
  }

  .u-section-4 .u-form-group-3 {
    width: 100%;
  }

  .u-section-4 .u-form-group-4 {
    width: 100%;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}